<settings version="2">
    <setting id="oauth_token_helix" default="true" />
    <setting id="show_token_url" default="true" />
    <setting id="revoke_token" default="true" />
    <setting id="menu_browse_live">true</setting>
    <setting id="menu_browse_games">true</setting>
    <setting id="menu_following">true</setting>
    <setting id="menu_search">true</setting>
    <setting id="menu_settings">true</setting>
    <setting id="menu_following_live" default="true">false</setting>
    <setting id="menu_following_channels" default="true">false</setting>
    <setting id="menu_following_games" default="true">false</setting>
    <setting id="menu_search_streams" default="true">false</setting>
    <setting id="menu_search_channels" default="true">false</setting>
    <setting id="menu_search_games" default="true">false</setting>
    <setting id="menu_search_url" default="true">false</setting>
    <setting id="video_quality" default="true">0</setting>
    <setting id="bandwidth">2500000</setting>
    <setting id="source_frame_rate_limit" default="true">0</setting>
    <setting id="video_support_ia_builtin" default="true">false</setting>
    <setting id="video_support_ia_addon">true</setting>
    <setting id="video_quality_ia" default="true">false</setting>
    <setting id="video_quality_ia_configure" default="true" />
    <setting id="title_display" default="true">0</setting>
    <setting id="title_truncate">true</setting>
    <setting id="thumbnail_size">2</setting>
    <setting id="refresh_interval">10</setting>
    <setting id="vodcast_highlight">79</setting>
    <setting id="items_per_page">25</setting>
    <setting id="search_history_size">25</setting>
    <setting id="live_reconnect" default="true">false</setting>
    <setting id="live_notify" default="true">false</setting>
    <setting id="live_notify_audible" default="true">false</setting>
    <setting id="live_notify_at_start">true</setting>
    <setting id="live_notify_group_start" default="true">false</setting>
    <setting id="change_language" default="true" />
    <setting id="refresh_cache" default="true">false</setting>
    <setting id="cache_expire_time">3</setting>
    <setting id="private_oauth_clientid" default="true">kimne78kx3ncx6brgo4mv6wki5h1ko</setting>
    <setting id="private_oauth_token" default="true" />
    <setting id="label.dummy.01" default="true" />
    <setting id="remove_default_stream_quality" default="true" />
    <setting id="remove_default_video_quality" default="true" />
    <setting id="remove_default_clip_quality" default="true" />
    <setting id="clear_default_stream_qualities" default="true" />
    <setting id="clear_default_video_qualities" default="true" />
    <setting id="clear_default_clip_qualities" default="true" />
    <setting id="irc_enable" default="true">false</setting>
    <setting id="install_ircscript" default="true" />
    <setting id="reset_cache" default="true" />
    <setting id="delete_streams_search" default="true" />
    <setting id="delete_channels_search" default="true" />
    <setting id="delete_games_search" default="true" />
    <setting id="delete_idurl_search" default="true" />
    <setting id="delete_storage_json" default="true" />
    <setting id="oauth_clientid" default="true" />
    <setting id="oauth_redirecturi" default="true" />
</settings>
