<settings>
    <setting id="hidevizbackground" type="bool">false</setting>
    <setting id="hidehomebuttonlivetv" type="bool">false</setting>
    <setting id="hidevideobackground" type="bool">false</setting>
    <setting id="hidehomebuttonweather" type="bool">true</setting>
    <setting id="hidehomebuttongames" type="bool">true</setting>
    <setting id="showhomebuttonlivetv" type="bool">false</setting>
    <setting id="showhomebuttonradio" type="bool">false</setting>
    <setting id="hidehomebuttonvideo" type="bool">false</setting>
    <setting id="usecustombackground" type="bool">false</setting>
    <setting id="hidehomebuttonfavourites" type="bool">false</setting>
    <setting id="hidehomebuttontvshows" type="bool">false</setting>
    <setting id="hidehomebuttonmusic" type="bool">false</setting>
    <setting id="hidehomebuttonradio" type="bool">false</setting>
    <setting id="hidehomebuttonmovies" type="bool">false</setting>
    <setting id="hidehomebuttonpictures" type="bool">false</setting>
    <setting id="hidehomebuttonprograms" type="bool">true</setting>
    <setting id="HomeAddonButton9" type="string"></setting>
    <setting id="firstrun" type="string">done</setting>
    <setting id="HomeAddonButton13" type="string"></setting>
    <setting id="HomeAddonButton8" type="string"></setting>
    <setting id="HomeAddonButton12" type="string"></setting>
    <setting id="HomeAddonButton15" type="string"></setting>
    <setting id="HomeAddonButton1" type="string"></setting>
    <setting id="HomeAddonButton14" type="string"></setting>
    <setting id="HomeAddonButton11" type="string"></setting>
    <setting id="profilesettings" type="string"></setting>
    <setting id="HomeAddonButton5" type="string"></setting>
    <setting id="HomeAddonButton7" type="string"></setting>
    <setting id="HomeAddonButton10" type="string"></setting>
    <setting id="HomeAddonButton3" type="string"></setting>
    <setting id="CustomBackground" type="string"></setting>
    <setting id="HomeAddonButton2" type="string"></setting>
    <setting id="HomeAddonButton6" type="string"></setting>
    <setting id="HomeAddonButton4" type="string"></setting>
    <setting id="skinsettings" type="string">1</setting>
</settings>
