<settings version="2">
    <setting id="instance.uri">https://inv.nadeko.net</setting>
    <setting id="instance.path" default="true">api/v1</setting>
    <setting id="instance.proxy" default="true">false</setting>
    <setting id="session.timeout" default="true">10</setting>
    <setting id="regional.locale" default="true">en-US</setting>
    <setting id="regional.locale.text" default="true">English (US)</setting>
    <setting id="regional.region" default="true">US</setting>
    <setting id="regional.region.text" default="true">United States</setting>
    <setting id="search.history" default="true">true</setting>
    <setting id="query.type" default="true">1</setting>
    <setting id="query.sort" default="true">1</setting>
    <setting id="home.feed" default="true">true</setting>
    <setting id="home.popular" default="true">true</setting>
    <setting id="home.trending" default="true">true</setting>
    <setting id="home.settings" default="true">true</setting>
    <setting id="context.fromyoutube" default="true">false</setting>
    <setting id="context.withyoutube" default="true">false</setting>
    <setting id="features.sponsorblock" default="true">false</setting>
</settings>
