<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30200">
		<setting id="playable" type="bool" label="30201" default="true"/>
		<setting id="lng" type="labelenum" label="30202" values="English|Deutsch|español|français|italiano|Nederlands|português|Türkçe"default="English"/>

	</category>
	<!--
	<category label="Dane - DEV">
		<setting id="logged" type='text' label='logged' default="false"/>
		<setting id="token" type='text' label='token' default=""/>
		<setting id="userID" type='text' label='userID' default=""/>
		<setting id="deviceID" type='text' label='deviceID' default=""/>

	</category>
	-->
</settings>