<settings version="2">
    <setting id="ProgressManager_enabled" default="true">false</setting>
    <setting id="sync_watched_status" default="true">true</setting>
    <setting id="sync_watched_status_library" default="true">false</setting>
    <setting id="select_first_unwatched" default="true">false</setting>
    <setting id="marks_tvshow_started" default="true">false</setting>
    <setting id="mylist_titles_color" default="true">1</setting>
    <setting id="rememberme_titles_color" default="true">1</setting>
    <setting id="supplemental_info_color" default="true">3</setting>
    <setting id="lib_enabled" default="true">true</setting>
    <setting id="lib_auto_upd_mode" default="true">1</setting>
    <setting id="lib_auto_upd_freq" default="true">0</setting>
    <setting id="lib_auto_upd_start" default="true">00:00</setting>
    <setting id="lib_auto_upd_wait_idle" default="true">false</setting>
    <setting id="lib_auto_upd_disable_notification" default="true">false</setting>
    <setting id="lib_sync_mylist" default="true">false</setting>
    <setting id="enable_nfo_export" default="true">false</setting>
    <setting id="export_movie_nfo" default="true">1</setting>
    <setting id="export_tvshow_nfo" default="true">1</setting>
    <setting id="export_full_tvshow_nfo" default="true">false</setting>
    <setting id="enablelibraryfolder" default="true">false</setting>
    <setting id="customlibraryfolder" default="true">special://profile/addon_data/plugin.video.netflix</setting>
    <setting id="use_mysql" default="true">false</setting>
    <setting id="mysql_username" default="true">kodi</setting>
    <setting id="mysql_password" default="true">kodi</setting>
    <setting id="mysql_host" default="true">127.0.0.1</setting>
    <setting id="mysql_port" default="true">3306</setting>
    <setting id="show_menu_mylist" default="true">true</setting>
    <setting id="menu_sortorder_mylist" default="true">0</setting>
    <setting id="show_menu_continuewatching" default="true">true</setting>
    <setting id="show_menu_newandpopular" default="true">true</setting>
    <setting id="show_menu_chosenforyou" default="true">true</setting>
    <setting id="show_menu_recentlyadded" default="true">true</setting>
    <setting id="menu_sortorder_recentlyadded" default="true">2</setting>
    <setting id="show_menu_newrelease" default="true">true</setting>
    <setting id="menu_sortorder_newrelease" default="true">2</setting>
    <setting id="show_menu_currenttitles" default="true">true</setting>
    <setting id="show_menu_mostviewed" default="true">true</setting>
    <setting id="show_menu_netflixoriginals" default="true">true</setting>
    <setting id="menu_sortorder_netflixoriginals" default="true">2</setting>
    <setting id="show_menu_assistiveaudio" default="true">true</setting>
    <setting id="menu_sortorder_assistiveaudio" default="true">0</setting>
    <setting id="show_menu_recommendations" default="true">true</setting>
    <setting id="show_menu_tvshowsgenres" default="true">true</setting>
    <setting id="menu_sortorder_tvshowsgenres" default="true">0</setting>
    <setting id="show_menu_moviesgenres" default="true">true</setting>
    <setting id="menu_sortorder_moviesgenres" default="true">0</setting>
    <setting id="show_menu_tvshows" default="true">true</setting>
    <setting id="menu_sortorder_tvshows" default="true">0</setting>
    <setting id="show_menu_movies" default="true">true</setting>
    <setting id="menu_sortorder_movies" default="true">0</setting>
    <setting id="show_menu_genres" default="true">true</setting>
    <setting id="menu_sortorder_genres" default="true">0</setting>
    <setting id="show_menu_search" default="true">true</setting>
    <setting id="menu_sortorder_search" default="true">2</setting>
    <setting id="menu_sortorder_search_history" default="true">0</setting>
    <setting id="show_menu_exported" default="true">true</setting>
    <setting id="customview" default="true">false</setting>
    <setting id="viewmodeprofilesid" default="true">0</setting>
    <setting id="viewmodemainmenuid" default="true">0</setting>
    <setting id="viewmodemylistid" default="true">0</setting>
    <setting id="viewmodefolderid" default="true">0</setting>
    <setting id="viewmodemovieid" default="true">0</setting>
    <setting id="viewmodeshowid" default="true">0</setting>
    <setting id="viewmodeseasonid" default="true">0</setting>
    <setting id="viewmodeepisodeid" default="true">0</setting>
    <setting id="viewmodesearchid" default="true">0</setting>
    <setting id="viewmodeexportedid" default="true">0</setting>
    <setting id="StreamContinuityManager_enabled" default="true">true</setting>
    <setting id="show_forced_subtitles_only" default="true">false</setting>
    <setting id="show_subtitles_miss_audio" default="true">false</setting>
    <setting id="prefer_alternative_lang" default="true">false</setting>
    <setting id="prefer_audio_stereo" default="true">false</setting>
    <setting id="SectionSkipper_enabled" default="true">true</setting>
    <setting id="auto_skip_credits" default="true">false</setting>
    <setting id="pause_on_skip" default="true">false</setting>
    <setting id="blackbars_minimizer_mode" default="true">disabled</setting>
    <setting id="blackbars_minimizer_value" default="true">0</setting>
    <setting id="audio_offset_enabled" default="true">false</setting>
    <setting id="audio_offset" default="true">0</setting>
    <setting id="ResumeManager_enabled" default="true">true</setting>
    <setting id="ResumeManager_dialog" default="true">false</setting>
    <setting id="UpNextNotifier_enabled" default="true">false</setting>
    <setting id="enable_dolby_sound" default="true">true</setting>
    <setting id="enable_vp9_profiles">true</setting>
    <setting id="enable_vp9.2_profiles" default="true">false</setting>
    <setting id="enable_hevc_profiles" default="true">false</setting>
    <setting id="enable_hdr_profiles" default="true">false</setting>
    <setting id="enable_dolbyvision_profiles" default="true">false</setting>
    <setting id="enable_av1_profiles" default="true">false</setting>
    <setting id="isa_streamselection_override" default="true">disabled</setting>
    <setting id="stream_max_resolution" default="true">--</setting>
    <setting id="stream_force_hdcp" default="true">--</setting>
    <setting id="disable_webvtt_subtitle" default="true">false</setting>
    <setting id="enable_debug" default="true">false</setting>
    <setting id="enable_timing" default="true">false</setting>
    <setting id="show_codec_info" default="true">false</setting>
    <setting id="msl_manifest_version" default="true">default</setting>
    <setting id="cdn_server" default="true">Server 1</setting>
    <setting id="enable_ipc_over_http" default="true">true</setting>
    <setting id="page_results" default="true">90</setting>
    <setting id="credentials_system_encryption" default="true">true</setting>
    <setting id="cache_ttl" default="true">180</setting>
    <setting id="cache_mylist_ttl" default="true">60</setting>
    <setting id="cache_metadata_ttl" default="true">30</setting>
</settings>
