<settings version="2">
    <setting id="preset" default="true">0</setting>
    <setting id="ownshader" default="true">false</setting>
    <setting id="shader" default="true" />
    <setting id="texture0" default="true" />
    <setting id="texture1" default="true" />
    <setting id="texture2" default="true" />
    <setting id="texture3" default="true" />
</settings>
